@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add Problem Daily</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Problem</label>
                        <textarea class="form-control" aria-label="With textarea" placeholder="write here..."></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Time Start</label>
                        <input type="time" class="form-control" id="basic-default-company" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-company">Time End</label>
                        <input type="time" class="form-control" id="basic-default-company" />
                        @* <div class="form-text">You can use letters, numbers & periods</div> *@
                    </div>
                    <a type="submit" class="btn btn-primary" asp-controller="DailyReport" asp-action="DailyReport">Submit</a>
                </form>
            </div>
        </div>
    </div>
</div>