@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex col-6 justify-content-start align-items-center">
            <h3 class="card-header fw-bold">Production Daily Report</h3>
        </div>
        <div class="d-flex align-items-center ms-4">
            <a class="btn btn-primary btn-sm text-white w-100 me-3" asp-controller="DailyReport" asp-action="AddMonth" type="submit"><i class='bx bx-plus-circle'></i><span class="ms-2">Add Noted</span></a>
            <div class="">
                <input class="form-control rounded border border-dark-subtle me-3" style="width: 200px;" type="date" value="dd/mm/yyyy" id="html5-date-input" />
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="table-responsive text-nowrap col-lg-4">
            <table class="table table-striped table-bordered ">
                <thead class="text-center ">
                    <tr class="">
                        <th class="fs-6 fw-bolder">No</th>
                        <th class="fs-6 fw-bolder">Model</th>
                        <th class="fs-6 fw-bolder">P/O</th>
                        <th class="fs-6 fw-bolder">PRD</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 ">
                    <tr>
                        <td>1</td>
                        <td>NA-W76BBZ2H</td>
                        <td>125</td>
                        <td>125</td>
                        <th class="text-black fw-bolder">PLAN :<br />ACTUAL :</th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NA-W76BBZ2D</td>
                        <td>3,263</td>
                        <td>3,263</td>
                        <th class="text-black fw-bolder">PLAN :<br />ACTUAL :</th>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>NA-W76FCU1G</td>
                        <td>18</td>
                        <td>18</td>
                        <th class="text-black fw-bolder">PLAN :<br />ACTUAL :</th>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>NA-W78BCV1V</td>
                        <td>176</td>
                        <td>176</td>
                        <th class="text-black fw-bolder">PLAN :<br />ACTUAL :</th>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>NA-W86BBZ2H</td>
                        <td>3</td>
                        <td>3</td>
                        <th class="text-black fw-bolder">PLAN :<br />ACTUAL :</th>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>NA-W86BBZ2D</td>
                        <td>2,048</td>
                        <td>2,048</td>
                        <th class="text-black fw-bolder">PLAN :<br />ACTUAL :</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive text-nowrap" style="width: 1200px;">
            <table class="table table-striped table-bordered" style="min-width: 200px;">
                <thead class="text-center">
                    <tr>
                        @for (int i = 1; i <= 31; i++)
                        {
                            <td class="fs-6 fw-bolder">@i</td>
                        }
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 ">
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 5px; padding-top: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 5px; padding-top: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 5px; padding-top: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 5px; padding-top: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 5px; padding-top: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; padding-bottom: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 5px; padding-top: 0;">1000</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-nowrap">
            <table class="table table-striped table-bordered " style="overflow:hidden;">
                <thead class="text-center ">
                    <tr class="">
                        <th class="fs-6 fw-bolder">Action</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0 ">
                    <tr>
                        <td class="d-flex align-items-center justify-content-center ">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex align-items-center justify-content-center ">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex align-items-center justify-content-center ">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex align-items-center justify-content-center ">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex align-items-center justify-content-center ">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="d-flex align-items-center justify-content-center ">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>