@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Pagename"] = "Time";
}

<div class="card">
    <div class="d-flex">
            <h5 class="card-header fw-bold text-uppercase">Work Time</h5>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th class="fw-bolder">Monday</th>
                    <th class="fw-bolder">Tuesday</th>
                    <th class="fw-bolder">Wednesday</th>
                    <th class="fw-bolder">Thursday</th>
                    <th class="fw-bolder">Friday</th>
                    <th class="fw-bolder">Saturday</th>
                    <th class="fw-bolder">Sunday</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-center">
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2 fw-bold mb-2">
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                            <input class="form-control fw-bold text-dark" type="time" value="12:30:00" id="html5-time-input" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
