@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Pagename"] = "Plan";
}
<div class="page-heading">
    <div class="d-flex justify-content-between align-items-center mb-3 flex-row">
        <div class="d-flex flex-column">
            <h3 class="mb-0">Planning</h3>
        </div>
        <a class="btn btn-primary btn-sm text-white" asp-controller="Plan" asp-action="Add" type="submit"><i class='bx bx-plus-circle'></i><span class="ms-2">Add New Plan</span></a>
    </div>
</div>

<div class="card">
    <div class="d-flex justify-content-between align-items-center px-3">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-header">Production Plan</h5>
        </div>
        <div class="justify-content-end d-flex">
            <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search fs-4 lh-0"></i>
                <input type="text"
                       class="form-control border-1 shadow-none bg-white"
                       placeholder="Search..."
                       aria-label="Search..." />
            </div>
            <input class="rounded border border-dark-subtle ms-3" type="date" value="dd/mm/yyyy" id="html5-date-input" />
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th>Date</th>
                    <th>Model Code</th>
                    <th>Model Number</th>
                    <th>Cycle Time</th>
                    <th>Plan</th>
                    <th>Actual</th>
                    <th>Balancing</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-center">
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>2024-02-05</strong></td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>34.00</td>
                    <td>200</td>
                    <td>150</td>
                    <td>0</td>
                    <td><span class="badge bg-label-primary me-1">ON PROGRESS</span></td>
                    <td class="d-flex align-items-center justify-content-center">
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>2024-02-05</strong></td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>34.00</td>
                    <td>200</td>
                    <td>200</td>
                    <td>0</td>
                    <td><span class="badge bg-label-success me-1">FINISH</span></td>
                    <td class="d-flex align-items-center justify-content-center">
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>2024-02-05</strong></td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>34.00</td>
                    <td>200</td>
                    <td>0</td>
                    <td>0</td>
                    <td><span class="badge bg-label-info me-1">NEXT PLAN</span></td>
                    <td class="d-flex align-items-center ">
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>2024-02-05</strong></td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>34.00</td>
                    <td>200</td>
                    <td>0</td>
                    <td>0</td>
                    <td><span class="badge bg-label-info me-1">NEXT PLAN</span></td>
                    <td class="d-flex align-items-center ">
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>2024-02-05</strong></td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>34.00</td>
                    <td>200</td>
                    <td>0</td>
                    <td>0</td>
                    <td><span class="badge bg-label-info me-1">NEXT PLAN</span></td>
                    <td class="d-flex align-items-center ">
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>2024-02-05</strong></td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>34.00</td>
                    <td>200</td>
                    <td>200</td>
                    <td>0</td>
                    <td><span class="badge bg-label-warning me-1">SHORTAGE</span></td>
                    <td class="d-flex align-items-center ">
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-edit-alt"></i></a>
                        <a class="dropdown-item px-0 py-0" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
