@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<footer class="content-footer footer bg-footer-theme sticky-bottom">
    <div class="container-fluid container-fluid-xxl d-flex flex-wrap justify-content-between flex-md-row flex-column">
        <div class="">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            , Create by
            <h6 class="footer-link fw-bolder">PENS</h6>
        </div>
    </div>
</footer>