@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="container">
        <aside class="sidebar active">
            <div class="menu-btn">
                <i class='bx bxs-left-arrow-circle'></i>
            </div>
            <div class="head">
                <div class="user-img">
                <a asp-controller="User" asp-action="Profile"> <img src="~/lib/theme/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" /></a>
                </div>
                <div class="user-details">
                    <p class="title">Developer</p>
                    <p class="name">Akbar</p>
                </div>
            </div>
            <nav class="nav">
                <div class="menu">
                    <ul>
                        <li class="active">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Summary</span>
                            </a>
                        </li>
                        <li>
                            <a class="" asp-controller="Plan" asp-action="Plan" >
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Production</span>
                                <i class='arrow bx bx-chevron-down'></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="text">Daily</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="text">Month</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Summary</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Summary</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Summary</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Summary</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="icon bx bx-grid-alt"></i>
                                <span class="text">Summary</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
    </div>
