@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Pagename"] = "Daily";
}

<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h5 class="card-header">Daily Production Result</h5>
            <div class="col-md-3">
                <select id="selectTypeOpt" class="form-select">
                    <option value="" selected>Model</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select placement-dropdown mx-4" id="selectPlacement">
                    <option value="" selected>location</option>
                    <option value="">Assembly</option>
                    <option value="">Scanning</option>
                </select>
            </div>
        </div>
        <input class="rounded border border-dark-subtle mx-3" type="date" value="dd/mm/yyyy" id="html5-date-input" />
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Model Code</th>
                    <th>Model Number</th>
                    <th>Serial Number</th>
                    <th>Scanning Date</th>
                    <th>Scanning Time</th>
                    <th>Different</th>
                    <th>AdualTT</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-center">
                <tr>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>2114563211</td>
                    <td>2024-02-07</td>
                    <td>07:28:16:51</td>
                    <td>00:00:00:00</td>
                    <td>0</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        @* <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a> *@
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>2114563211</td>
                    <td>2024-02-07</td>
                    <td>07:28:16:51</td>
                    <td>00:00:00:00</td>
                    <td>0</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        @* <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a> *@
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>2114563211</td>
                    <td>2024-02-07</td>
                    <td>07:28:16:51</td>
                    <td>00:00:00:00</td>
                    <td>0</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        @* <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a> *@
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>2114563211</td>
                    <td>2024-02-07</td>
                    <td>07:28:16:51</td>
                    <td>00:00:00:00</td>
                    <td>0</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        @* <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a> *@
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>2114563211</td>
                    <td>2024-02-07</td>
                    <td>07:28:16:51</td>
                    <td>00:00:00:00</td>
                    <td>0</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        @* <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a> *@
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>2114563211</td>
                    <td>2024-02-07</td>
                    <td>07:28:16:51</td>
                    <td>00:00:00:00</td>
                    <td>0</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        @* <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a> *@
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>