@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Pagename"] = "Month";
}

<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h5 class="card-header">Monthly Production Result</h5>
            <div class="col-md-3">
                <select id="selectTypeOpt" class="form-select">
                    <option value="" selected >Model</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                    <option value="">NA-W86BBZ2D</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select placement-dropdown mx-4" id="selectPlacement">
                    <option value="" selected >location</option>
                    <option value="">Assembly</option>
                    <option value="">Scanning</option>
                </select>
            </div>
        </div>
        <div class="col-1 col-lg-3 me-4">
            <input class=" form-control rounded border border-dark-subtle" type="date" value="dd/mm/yyyy" id="html5-date-input" />
        </div>
    </div>
</div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <th>No</th>
                    <th>Model Code</th>
                    <th>Model Number</th>
                    <th>Plan</th>
                    <th>Actual</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-center">
                <tr>
                    <td>1</td>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>500</td>
                    <td>250</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>500</td>
                    <td>250</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>500</td>
                    <td>250</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>500</td>
                    <td>250</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>500</td>
                    <td>250</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>3N</td>
                    <td>NA-W86BBZ2D</td>
                    <td>500</td>
                    <td>250</td>
                    <td>Assembly</td>
                    <td class="d-flex">
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt"></i> Edit</a>
                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash text-danger"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
