@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["PageName"] = "Display";
}

<div class="d-flex mb-3 flex-row align-items-center ">
    <div class="d-flex col-6 flex-column me-auto">
        <h3 class="mb-0">Summary Production</h3>
    </div>
    <input class="form-control rounded border border-dark-subtle me-3" style="width: 200px;" type="date" value="dd/mm/yyyy" id="html5-date-input" />
    <div class="">
        <select class=" form-control rounded border border-dark-subtles placement-dropdown" id="selectPlacement">
            <option value="" selected>location</option>
            <option value="">Assembly</option>
            <option value="">Scanning</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-2">
        <div class="card h-100 align-items-center">
            <div class="card-header d-flex align-items-center pb-0">
                <div class="card-title mb-0 d-flex text-center">
                    <i class='bx bxs-calendar me-2'></i>
                    <h5 class="m-0 me-2">Total Year</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center h-100 w-100 col-md-6 col-lg-4 col-xxl-6">
                    <div class="d-flex flex-column col-lg-4 col-xxl-4">
                        <h5 class="mb-2">Plan : <span class="fw-semibold text-success">1200</span></h5>
                        <h5 class="mb-2">Actual : <span class="fw-semibold text-warning">800</span></h5>
                        <h5 class="mb-2">Remain : <span class="fw-semibold text-danger">400</span></h5>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xxl-4">
                        <div id="totalYear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-2">
        <div class="card h-100 align-items-center">
            <div class="card-header d-flex align-items-center pb-0">
                <div class="card-title mb-0 d-flex text-center">
                    <i class='bx bxs-calendar me-2'></i>
                    <h5 class="m-0 me-2">Total Month</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center  h-100 w-100 col-md-6 col-lg-4 col-xxl-6">
                    <div class="d-flex flex-column col-lg-4  col-xxl-4">
                        <h5 class="mb-2">Plan : <span class="fw-semibold text-success">1200</span></h5>
                        <h5 class="mb-2">Actual : <span class="fw-semibold text-warning">800</span></h5>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xxl-4">
                        <div id="totalMonth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-2">
        <div class="card h-100 align-items-center">
            <div class="card-header d-flex align-items-center pb-0">
                <div class="card-title mb-0 d-flex text-center">
                    <i class='bx bxs-calendar me-2'></i>
                    <h5 class="m-0 me-2">Total Daily</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center h-100 w-100 col-md-6 col-lg-4 col-xxl-6">
                    <div class="d-flex flex-column col-lg-4">
                        <h5 class="mb-2">Plan : <span class="fw-semibold text-success">1200</span></h5>
                        <h5 class="mb-2">Actual : <span class="fw-semibold text-warning">800</span></h5>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xxl-4">
                        <div id="totalDaily"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 order-0 mb-2">
        <div class="card h-100 align-items-center">
            <div class="card-header d-flex pb-0">
                <div class="card-title mb-0 d-flex text-center">
                    <i class='bx bxs-calendar me-2'></i>
                    <h5 class="m-0 me-2">Coming Soon</h5>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div id="totalDaily"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-12 col-lg-6 col-xl-8 col-xxl-6 order-0 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-start pb-0">
                <div class="card-title mb-0 w-100">
                    <h5 class="m-0 me-2">Total Month</h5>
                    <small class="text-muted">February, 2024</small>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <div class="card-body">
                <div class=" justify-content-center w-100 h-75">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6 col-xl-12 col-xxl-6 order-0 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-start pb-0">
                <div class="card-title mb-0 w-100">
                    <h5 class="m-0 me-2">Report Production Daily</h5>
                    <small class="text-muted">February, 2024</small>
                    <div class="dropdown-divider ms-auto"></div>
                </div>
            </div>
            <div class="card-body w-100">
                <div class="w-100 h-100">
                    <div id="daily"></div>
                </div>
            </div>
        </div>
    </div>
</div>
